body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-cat {
  width: 100px;
}

/* BOF Cat Inner Page */

.cat-information,
.main-container {
  max-width: 80%;
  margin: 50px auto;
}

.cat-information .cat-image img {
  width: 100%;
}

.cat-dropdown {
  margin-bottom: 20px;
}

.load-more {
    margin-top: 20px;
}

.cat-items {
  margin-bottom: 15px;
}
/* EOF Cat Inner Page */